#admintext {
    font-size: 2rem; /* 글씨 크기 조정 */
    font-weight: 600; /* 글씨 두께 조정 */
    color: #444242; /* 글씨 색상 */
    margin-bottom: 20px; /* 아래쪽 여백 */
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); /* 그림자 추가 */
}


.navbar {
    margin-bottom: 20px; /* 내비게이션 바와 내용 사이 여백 */
    border-radius: 0; /* 모서리 둥글기 제거 */
}

.nav-link {
    color: white; /* 텍스트 색상 */
    text-align: center; /* 가운데 정렬 */
}

.nav-link:hover {
    color: #f8f9fa; /* 호버 시 색상 */
}

.nav-item {
    flex: 2; /* 각 nav-item의 크기를 동일하게 만듭니다. */
    margin: 0 20px;
}

.navbar-nav {
    justify-content: center; /* 메뉴를 가운데 정렬합니다. */
    margin: 0 20px;
}

.navbar-nav .nav-link {
    display: inline-block; /* 인라인 블록으로 변경하여 넓이 조절 가능 */
    width: 150px; /* 원하는 너비 설정 */
    text-align: center; /* 가운데 정렬 */
}

