<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>차량 정산 내역</title>
    <link rel="stylesheet" href="/css/visitor/outcar.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-5">
    <form method="POST" name="carnumfrm">
        <h5 class="mb-4">차량 번호 선택</h5>
        <table class="table">
            <thead>
            <tr>
                <th>차량 번호</th>
                <th>입차 시간</th>
            </tr>
            </thead>
            <tbody id="carnumlist">
            </tbody>
        </table>

        <button type="submit" class="btn btn-primary btn-block mt-3" id="nextbtn">다음</button>
    </form>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="/js/visitor/outcar.js"></script>
</body>
</html>